.button-editProfile {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: 16px;
    font-weight: 700;
    color: #00B37E;
    border: 0.75px solid #00B37E;
    border-radius: 8px;
    cursor: pointer;
    padding: 16px 24px;
    margin-bottom: 32px;
}

.button-editProfile:hover {
    text-decoration: underline #016e4e;
}